<configuration>
	<property>
		<name>ipc.client.connect.max.retries</name>
		<value>50</value>
	</property>
	<property>
		<name>io.compression.codecs</name>
		<value>org.apache.hadoop.io.compress.GzipCodec,org.apache.hadoop.io.compress.DefaultCodec</value>
	</property>
	<property>
		<name>fs.defaultFS</name>
		<value>hdfs://<%= @master_host or "localhost" %>:8020</value>
	</property>
</configuration>
