<configuration>
	<property>
		<name>dfs.datanode.data.dir</name>
		<value>/var/hadoop/hdfs/data</value>
	</property>
	<property>
		<name>dfs.client.read.shortcircuit</name>
		<value>true</value>
	</property>
	<property>
		<name>dfs.namenode.name.dir</name>
		<value>/var/hadoop/hdfs/namenode</value>
	</property>
	<property>
		<name>dfs.namenode.rpc-address</name>
		<value><%= @master_host or "0.0.0.0" %>:8020</value>
	</property>
</configuration>
